<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.linqiaoli.dao.UserDao">
    <insert id="save">
        INSERT INTO USER (
          user_id,
          name,
          age,
          sex,
          identity_card,
          phone,
          address,
          dad_phone,
          family_address,
          unit_id,
          birthday,
          medicare_disease_code,
          medical_insurance_id,
          medical_doctor_number,
          in_hospital_count
          )
        VALUES (
          #{userId},
          #{name},
          #{age},
          #{sex},
          #{identityCard},
          #{phone},
          #{address},
          #{dadPhone},
          #{familyAddress},
          #{unit.id},
          #{birthday},
          #{medicareDiseaseCode},
          #{medicalInsuranceId},
          #{medicalDoctorNumber},
          #{inHospitalCount}
        )
    </insert>


    <update id="updateUser" >
        UPDATE USER
        SET
        name=#{name},
        age=#{age},
        sex=#{sex},
        identity_card=#{identityCard},
        phone=#{phone},
        address=#{address},
        dad_phone=#{dadPhone},
        family_address=#{familyAddress},
        unit_id=#{unit},
        birthday=#{birthday},
        medicare_disease_code=#{medicareDiseaseCode},
    medical_insurance_id=#{medicalInsuranceId},
    medical_doctor_number=#{MedicalDoctorNumber},
    in_hospital_count=#{inHospitalCount}
    WHERE user_id=#{userId}

</update>


  <delete id="delete">
    DELETE  FROM  USER  WHERE  user_id=#{id}
  </delete>
  <select id="getUserbyid" resultType="com.linqiaoli.pojo.User">
    select * from USER WHERE user_id=#{id};
  </select>
  <select id="findAll"  resultType="com.linqiaoli.pojo.User">
    select * from USER
  </select>
</mapper>